img.uniform-width-200 {
  width: 200px;
  height: auto;
}

img.uniform-width-400 {
  width: 400px;
  height: auto;
}

img.uniform-width-600 {
  width: 600px;
  height: auto;
}

img.uniform-width-800 {
  width: 800px;
  height: auto;
}

img.uniform-width-1000 {
  width: 1000px;
  height: auto;
}

.md-typeset table:not([class]) td {
  text-align: left;
  vertical-align: middle;
}

.md-typeset table:not([class]) td figure {
  margin: 0;
}

.md-typeset figure.align-left {
  margin: 1em 0;
  text-align: left;
}
